/* Container */
.setting-container {
  background-color: var(--white);
  border-radius: var(--border-radius-8);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem 2rem;
  min-height: 400px;
  font-family: "Inter", sans-serif;
  color: var(--black);
}

/* Header */
.setting-header {
  border-bottom: 2px solid #f3f4f6;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.setting-title {
  font-size: var(--medium-heading);
  font-weight: 500;
  color: var(--black);
  margin: 0;
  font-family: "Konnect-Medium";
  letter-spacing: -0.5px;
}

.setting-subsection-title {
  font-size: var(--medium-heading);
  font-weight: 500;
  color: var(--black);
  margin-bottom: 1rem;
  font-family: "Konnect-Medium";
  letter-spacing: -0.5px;
}

/* Form */
.setting-form {
  max-width: 600px;
}

.setting-field {
  margin-bottom: 1rem;
}

.setting-label {
  display: block;
  font-size: var(--normal-text);
  color: var(--black-700);
  margin-bottom: 0.5rem;
}

.setting-input {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid var(--black-500);
  border-radius: var(--border-radius-4);
  font-size: var(--normal-text);
  color: var(--gray-200);
  background-color: var(--orange-100);
  transition: all 0.2s;
}

.setting-input:focus {
  outline: none;
  border-color: var(--purple-main);
  box-shadow: 0 0 0 3px rgba(168, 85, 247, 0.1);
}

.setting-input::placeholder {
  color: var(--gray-200);
}

/* Button */
.btn-next-setting {
  background-color: var(--black);
  color: var(--sweetyellow);
  padding: 0.5rem 3rem;
  border: none;
  border-radius: var(--border-radius-4);
  font-size: var(--small-text);
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Figtree";
}

