/* Container */
.setting-container {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem 2rem;
  min-height: 400px;
  font-family: "Inter", sans-serif;
  color: var(--black);
}

/* Header */
.setting-header {
  border-bottom: 2px solid #f3f4f6;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.setting-title {
  font-size: 1.2rem;
  margin: 0;
  font-family: "JetBrainsMonoSemiBold";
}

.setting-subsection-title {
  font-size: 1rem;
  font-family: "JetBrainsMono";
  color: var(--black);
  margin-bottom: 1rem;
}

/* Form */
.setting-form {
  max-width: 600px;
}

.setting-field {
  margin-bottom: 1rem;
}

.setting-label {
  display: block;
  font-size: 0.9rem;
  color: var(--black-700);
  margin-bottom: 0.5rem;
}

.setting-input {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid var(--black-500);
  border-radius: 0.5rem;
  font-size: 0.95rem;
  color: var(--black-100);
  background-color: var(--orange-100);
  transition: all 0.2s;
}

.setting-input:focus {
  outline: none;
  border-color: var(--purple-main);
  box-shadow: 0 0 0 3px rgba(168, 85, 247, 0.1);
}

.setting-input::placeholder {
  color: var(--black-100);
}

/* Button */
.btn-next-setting {
  background-color: var(--purple-main);
  color: var(--white);
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(139, 92, 246, 0.3);
  transition: background-color 0.2s;
  font-family: "JetBrainsMono";
}

.btn-next-setting:hover {
  background-color: var(--purple-main);
}
