.btn-primary {
  background-color: var(--purple-main);
  color: var(--white);
  border: none;
  border-radius: 0.6rem;
  padding: 10px 18px;
  font-size: var(--normal-text);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Konnect";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn-primary:hover {
  background-color: #6d28d9;
}