.btn-primary {
  background-color: var(--black);
  color: var(--sweetyellow);
  border: none;
  border-radius: var(--border-radius-8);
  padding: 8px 24px;
  min-width: 130px;
  font-size: var(--below-medium-heading);
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Figtree";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
}