:root {
  /* --black: #010202;
  --black-100: #717182;
  --border: #0102021a;
  --green: #016630;
  --gray-500: #364153;
  --white-100: #f9fafb;
  --black-1800: #3d3d3d;
  --sweetyellow: #ccff00;
  --main-bg: #eff3f4;
  */
    --black: #010202;
  --gray-200: #717182;
  --gray-new:#7171821A;
  --gray-sub:#71718233;
  --gray-300: #0102021a;
  --gray-500: #364153;
  --green: #016630;
  --red: #ff392b;
  --red-100:#FF392B1A;
  --sweetyellow: #ccff00;
  --seetwo: #c2c2c2;
  --black-1800: #3d3d3d;
  --black-1900: #3d3d3d33;
  --white: #ffffff;
  --white-bg: #eff3f4;
  --deesee: #dcfce7;
  --efffive: #f59e0b;
  --critical: #935b02;
  --purple-main: #7c3aed;
  --purple-200: #7c3aed1a;
  --purple-1400: #7c3aed0d;
  --progress: #f59e0b1a;
  --progress-2: #9c6509;
  --link:#7099ED;
  --dropdown-bg:#F8F8F8;
  --sidetabs:#EBD4FF17;
  --search-bar:#FFFFFF26; 

  --black-300: #101828;
  --black-400: #0a0a0a;
  --black-500: #0000001a;
  --black-600: #0000004d;
  --black-700: #000000cc;
  --black-800: #0000000d;
  --black-1000: #5c5c5c1a;
  --black-1100: #00000033;
  --black-1200: #6b7280;

  /* white */
  --white: #ffffff;
  --white-200: #f6f6f6;
  --white-300: #faf5ff;
  --white-400: #efefef;
  --white-500: #f5f5f5;

  /* purplish */
  --purple-main: #7c3aed;
  --purple-100: #282a2c;
  --purple-200: #7c3aed1a;
  --purple-400: #7e48ff33;
  --purple-500: #7c3aed80;
  --purple-600: #cec6e0;
  --purple-700: #efe7fe;
  --purple-800: #7c3aed33;
  --purple-900: #ddd8e8;
  --purple-1000: #f2ecfe;
  --purple-1100: #7e48ff1a;
  --purple-1200: #7c3aed99;

  /* gray */
  --gray-100: #6a7282;
  --gray-200: #717182;
  --gray-300: #e5e7eb;
  --gray-400: #4b5563;
  --gray-600: #ececf0;
  --gray-700: #e2e8f0;
  --gray-800: #cad5e2;
  --gray-900: #aaaaaa;

  /* Green */
  --green-100: #00c950;
  --green-200: #00a63e;
  --green-300: #00b95c;
  --green-400: #15803d;
  --green-500: #008236;
  --green-new: #0b3f4233;
  --green-new-100: #0b3f421a;

  /* orange */
  --orange-100: #fbfbfb;
  --orange-200: #e17100;
  --orange-300: #a16207;
  --orange-400: #fdb988;
  --orange-500: #e28725;

  /* red */
  --red-100: #fc413d;
  --red-200: #e7000b;
  --red-300: #fef2f2;


   /* Font Sizes */
  --v-large-heading:40px;
  --large-heading: 22px;
  --main-heading: 20px;
  --medium-heading: 18px;
  --below-medium-heading: 16px;
  --normal-text: 14px;
  --small-text: 12px;
  --small-text-10: 10px;
  --small-text-8: 8px;

   /* border-radius */
  --border-radius-50: 50%;
  --border-radius-100: 100px;
  --border-radius-20: 20px;
  --border-radius-12: 12px;
  --border-radius-10: 10px;
  --border-radius-8: 8px;
  --border-radius-6: 6px;
  --border-radius-4: 4px;
}

[data-theme="dark"] {
  --black: #ffffff;
  --black-100: #ffffff99;
  --black-300: #ffffff;
  --black-400: #f5f5f5;
  --black-500: #ffffff1a;
  --black-600: #ffffff4d;
  --black-700: #ffffffcc;
  --black-800: #ffffff0d;
  --black-1000: #ffffff1a;
  --black-1100: #ffffff33;
  --black-1200: #9ca3af;

  /* white */
  --white: #111827;
  --white-100: #1f2937;
  --white-200: #374151;
  --white-300: #111827;
  --white-400: #4b5563;
  --white-500: #1f2937;

  /* purplish */
  --purple-main: #a78bfa;
  --purple-100: #1f2937;
  --purple-200: #a78bfa1a;
  --purple-400: #a78bfa33;
  --purple-500: #a78bfa80;
  --purple-600: #4c1d95;
  --purple-700: #1e1b4b;
  --purple-800: #a78bfa33;
  --purple-900: #312e81;
  --purple-1000: #111827;
  --purple-1100: #a78bfa1a;
  --purple-1200: #a78bfa99;

  /* gray */
  --gray-100: #9ca3af;
  --gray-200: #d1d5db;
  --gray-300: #374151;
  --gray-400: #9ca3af;
  --gray-500: #d1d5db;
  --gray-600: #1f2937;
  --gray-700: #111827;
  --gray-800: #4b5563;
  --gray-900: #6b7280;

  /* orange */
  --orange-100: #1f2937;
}
