.login-btn-primary {
  width: 100%;
  padding: 0.58rem;
  border-radius: var(--border-radius-8);
  background: var(--purple-main);
  border: none;
  color: var(--white);
  font-size: 0.95rem;
  cursor: pointer;
}

.login-btn-primary:hover {
  background: #6b33d6;
}