.page-header-card-reports-main {
  background: var(--white);
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: var(--border-radius-8);
  border: 1px solid var(--gray-300);
}

.page-title-main {
  font-size: var(--main-heading);
  font-weight: 500;
  color: var(--black);
  margin: 0;
  font-family: "Konnect-Medium";
}