.page-header-card-reports-main {
  background: var(--white);
  border-radius: var(--border-radius-4);
  margin-bottom: 1.3rem;
  padding: 0.6rem 1rem;
  border-radius: var(--border-radius-4);
  border: 1px solid var(--purple-500);
  box-shadow: 0 1px 2px #8686861A;
}

.page-title-main {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black-700);
  margin: 0;
}