/* ===== Figtree Fonts ===== */
@font-face {
  font-family: "Figtree";
  src: url("./assets/Fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/Fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/Fonts/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/Fonts/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-Light";
  src: url("./assets/Fonts/Figtree-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Konnect-Regular";
  src: url("./assets/Fonts/KonnectRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Konnect-Medium";
  src: url("./assets/Fonts/KonnectMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Konnect-SemiBold";
  src: url("./assets/Fonts/KonnectSemiBold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Konnect-Bold";
  src: url("./assets/Fonts/KonnectBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ===== Apply globally ===== */
body, #root {
  font-family: "Figtree";
  margin: 0;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, #root {
  font-family: "Konnect";
  margin: 0;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: font-weight helpers */
.fw-400 { font-weight: 400; } /* Regular */
.fw-500 { font-weight: 500; } /* Medium */
.fw-600 { font-weight: 600; } /* SemiBold */
.fw-700 { font-weight: 700; } /* Bold */

::-webkit-scrollbar {
  -ms-overflow-style: none;   
  scrollbar-width: none;      
}

::-webkit-scrollbar-thumb {
  display: none;              
}
